#game {
    width: 405px;
    height: 405px;
    background: #5F9EA0;
}

body{
    background-color: #DCDCDC;
}
.block {
    width: 135px;
    height: 135px;
    float: left;
    border: 1px solid white;
    box-sizing: border-box; /*
    Чтобы не вылезало оформление за пределы границ
    */
    line-height: 85px;
    text-align: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.d8{
    padding-left: 45px;
}
h1{

    font-family: 'Marriweather', serif;
    font-size: 25px;
    letter-spacing: 1px;
    max-width: 320px;
    width: 100%;
    text-align: center;
    margin: 50px 10px 10px 10px;
    padding: 20px 20px 10px 10px;
    position: absolute;
    display: inline-block;
    color: #465457;
}
.d8 h1{
padding-bottom: 10px;
position: absolute;
}
.d8 h1:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #EE6247;
    z-index: 2;
}

.d8 h1:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 2px;
    background: #ECF4F2;
    z-index: 2;
}